extends layout.jade
append
	- var bodyClass 			= "homePage"

block content
	include include/video.jade
	include include/services.jade
	include include/workInProgress.jade
	include include/project.jade
	include include/brand.jade



