extends layout.jade

block config
	- var pathToAssets			= "assets/"
	- var bodyClass 			= "homePage"
	- var titlePage 			= "Epi home page"

block content
	include include/brand.jade
	include include/navigation.jade
	include include/video.jade
	include include/services.jade
	include include/workInProgress.jade
	include include/project.jade



