extends layout.jade
append
	- var bodyClass 			= "wwdPage"

block content
	include include/whatWeDo.jade
		include include/megastore.jade
		//include include/detailsServices.jade

		//include include/video.jade
		//include include/services.jade
		include include/workInProgress.jade
		include include/project.jade
		include include/brand.jade