extends layout.jade
block config
	append
		- var pathToAssets			= "assets/"
		- var bodyClass 			= "wwd"
		- var titlePage 			= "Epi home page"

block content
	include include/navigation.jade
	include include/whatWeDo.jade
	include include/megastore.jade
	//include include/detailsServices.jade

	//include include/video.jade
	//include include/services.jade
	include include/workInProgress.jade
	include include/project.jade
	include include/brand.jade