.container.no-gutter
	section.clienti.row
		.col-xs-12
			h2.lead.text-center Our projects
		include ../assets/images/loghi.jade
		.col-xs-6.col-sm-15
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper.juve
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#juve")
					.back
						//- back content
						h2.text-center Juventus
							br
							small Official Store
						.text-center
							a.btn.btn-ghost-Juve(href="http://www.juvestore.com")
								| visit
						//h2.text-center Juventus Store Milano
						h2.text-center
							small Juventus Store Milano
						.text-center
							a.btn.btn-ghost-Juve(href="http://www.juvestore.com/it/juventus-store-milano/")
								| visit

		.col-xs-6.col-sm-15
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper.milan
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#milan")
					.back
						//- back content
						//h2.text-center AC Milan Official Store
						h2.text-center AC Milan
							br
							small
								| Official Store
						.text-center
							a.btn.btn-ghost-Milan(href="http://store.acmilan.com/")
								| visit
						h2.text-center
							small Milan Megastore Milano
						.text-center
							a.btn.btn-ghost-Milan(href="http://store.acmilan.com/milan-megastore")
								| visit
		.col-xs-6.col-sm-15
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper.inter
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#inter")
					.back
						//- back content
						//- h2.text-center Inter Official Store
						h2.text-center Inter
							br
							small Official Store
						.text-center
							a.btn.btn-ghost-Inter(href="http://store.inter.it/")
								| visit
						h2.text-center
							small Solo Inter Milano
						.text-center
							a.btn.btn-ghost-Inter(href="http://www.inter.it/it/negozi")
								| visit

		.col-xs-6.col-sm-15
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper.lazio
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#lazio")
					.back
						//- back content
						h2.text-center SS Lazio
							br
							small Official Store
						.text-center
							a.btn.btn-ghost-Lazio(href="http://www.laziostylestore.com")
								| visit
		.col-xs-6.col-sm-15
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper.f4u
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#f4u")
					.back
						//- back content
						h2.text-center Football4u
							br
							small
								| Gazzetta Dello Sport
								br
								| Official Store
						.text-center
							a.btn.btn-ghost-f4u(href="http://www.football4u.it/")
								| visit
		.col-xs-6.col-sm-15
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper.fir
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#fir")
					.back
						//- back content
						h2.text-center FIR
							br
							small
								| Federazione Italiana Rugby Official Store
						.text-center
							a.btn.btn-ghost-fir(href="http://www.firstore.it/")
								| visit
		.col-xs-6.col-sm-15
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper.palermo
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#palermo")
					.back
						//- back content
						h2.text-center Palermo Calcio
							br
							small Official Store
						.text-center
							a.btn.btn-ghost-palermo(href="http://store.palermocalcio.it/")
								| visit
		.col-xs-6.col-sm-15
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper.hv
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#hv")
					.back
						//- back content
						h2.text-center Hellas Verona
							br
							small Official Store
						.text-center
							a.btn.btn-ghost-verona(href="http://www.hvstore.it/")
								| visit
		.col-xs-6.col-sm-15
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper.olimpia
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#olimpia")
					.back
						//- back content
						h2.text-center Olimpia Milano
							br
							small Official Store
						.text-center
							a.btn.btn-ghost-olimpia(href="http://store.olimpiamilano.com/")
								| visit
		.col-xs-6.col-sm-15
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper.dj
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#dj")
					.back
						//- back content
						h2.text-center Novak Djokovic
							br
							small Official Store
						.text-center
							a.btn.btn-ghost-dj(href="http://store.novakdjokovic.com/")
								| visit

	//- section.clienti.row
		.col-xs-12
			h2.lead.text-center I nostri clienti
			include ../assets/images/loghi.jade
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#juve")
				h2.text-center Juventus
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#milan")
				h2.text-center AC Milan
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#inter")
				h2.text-center FC Inter
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#f4u")
				h2.text-center Footbal 4U
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#lazio")
				h2.text-center Lazio
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#juve")
				h2.text-center Palermo
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#milan")
				h2.text-center Fiorentina
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#inter")
				h2.text-center FIR
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#f4u")
				h3.text-center Olimpia Milan
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#lazio")
				h3.text-center Fiorentina
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#juve")
				h3.text-center Fiorentina
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#milan")
				h3.text-center Fiorentina