.container-fluid.no-gutter
	section.clienti.row
		.col-xs-6.col-sm-2
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper.juve
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#juve")
					.back
						//- back content
						h1.text-center Juventus
		.col-xs-6.col-sm-2
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper.milan
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#milan")
					.back
						//- back content
						h1.text-center AC Milan
		.col-xs-6.col-sm-2
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper.inter
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#inter")
					.back
						//- back content
						h1.text-center FC INTER
		.col-xs-6.col-sm-2
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#f4u")
					.back
						//- back content
						h1.text-center Juventus
		.col-xs-6.col-sm-2
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#lazio")
					.back
						//- back content
						h1.text-center Juventus
		.col-xs-6.col-sm-2
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#juve")
					.back
						//- back content
						h1.text-center Juventus
		.col-xs-6.col-sm-2
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#milan")
					.back
						//- back content
						h1.text-center Juventus
		.col-xs-6.col-sm-2
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#inter")
					.back
						//- back content
						h1.text-center Juventus
		.col-xs-6.col-sm-2
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#f4u")
					.back
						//- back content
						h1.text-center Juventus
		.col-xs-6.col-sm-2
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#lazio")
					.back
						//- back content
						h1.text-center Juventus
		.col-xs-6.col-sm-2
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#juve")
					.back
						//- back content
						h1.text-center Juventus
		.col-xs-6.col-sm-2
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#milan")
					.back
						//- back content
						h1.text-center Juventus

	section.clienti.row

		.col-xs-12
			h2.lead.text-center I nostri clienti
			include ../assets/images/loghi.jade
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#juve")
				h3.text-center Juventus
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#milan")
				h3.text-center AC Milan
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#inter")
				h3.text-center FC Inter
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#f4u")
				h3.text-center Footbal 4U
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#lazio")
				h3.text-center Lazio
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#juve")
				h3.text-center Palermo
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#milan")
				h3.text-center Fiorentina
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#inter")
				h3.text-center FIR
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#f4u")
				h3.text-center Olimpia Milan
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#lazio")
				h3.text-center Fiorentina
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#juve")
				h3.text-center Fiorentina
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#milan")
				h3.text-center Fiorentina