.container.no-gutter
	section.clienti.row
		.col-xs-12
			h2.lead.text-center Our project
		include ../assets/images/loghi.jade
		.col-xs-6.col-sm-15
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper.juve
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#juve")
					.back
						//- back content
						h1.text-center Juventus
						ul
							li
								a(href="#")
									| online store
							li
								a(href="#")
									| retail store

		.col-xs-6.col-sm-15
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper.milan
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#milan")
					.back
						//- back content
						h1.text-center AC Milan
						ul
							li
								a(href="#")
									| online store
							li
								a(href="#")
									| retail store
		.col-xs-6.col-sm-15
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper.inter
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#inter")
					.back
						//- back content
						h1.text-center FC INTER
						ul
							li
								a(href="#")
									| online store
							li
								a(href="#")
									| retail store

		.col-xs-6.col-sm-15
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper.lazio
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#lazio")
					.back
						//- back content
						h1.text-center SS Lazio
						ul
							li
								a(href="#")
									| online store
		.col-xs-6.col-sm-15
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper.f4u
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#f4u")
					.back
						//- back content
						h1.text-center football4u
						ul
							li
								a(href="#")
									| online store
		.col-xs-6.col-sm-15
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper.fir
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#fir")
					.back
						//- back content
						h1.text-center FIR
						ul
							li
								a(href="#")
									| online store
		.col-xs-6.col-sm-15
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper.palermo
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#palermo")
					.back
						//- back content
						h1.text-center Palermo
						ul
							li
								a(href="#")
									| online store
		.col-xs-6.col-sm-15
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper.hv
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#hv")
					.back
						//- back content
						h1.text-center Hellas Verona
						ul
							li
								a(href="#")
									| online store
		.col-xs-6.col-sm-15
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper.olimpia
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#olimpia")
					.back
						//- back content
						h1.text-center Olimpia Milano
						ul
							li
								a(href="#")
									| online store
		.col-xs-6.col-sm-15
			.flip-container.vertical(ontouchstart="this.classList.toggle('hover');")
				.flipper.dj
					.front
						//- front content
						svg.logo(width="250" height="250")
							use(xlink:href="#dj")
					.back
						//- back content
						h1.text-center DJ
						ul
							li
								a(href="#")
									| online store

	//- section.clienti.row
		.col-xs-12
			h2.lead.text-center I nostri clienti
			include ../assets/images/loghi.jade
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#juve")
				h3.text-center Juventus
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#milan")
				h3.text-center AC Milan
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#inter")
				h3.text-center FC Inter
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#f4u")
				h3.text-center Footbal 4U
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#lazio")
				h3.text-center Lazio
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#juve")
				h3.text-center Palermo
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#milan")
				h3.text-center Fiorentina
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#inter")
				h3.text-center FIR
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#f4u")
				h3.text-center Olimpia Milan
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#lazio")
				h3.text-center Fiorentina
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#juve")
				h3.text-center Fiorentina
		.col-xs-6.col-sm-2
			a(href='#' data-toggle="modal" data-target="#myModal")
				svg.logo
					use(xlink:href="#milan")
				h3.text-center Fiorentina