.container-fluid.no-gutter.detailsServices
	.container
		.row
			.col-xs-12.col-sm-6
				h2 Online store
				p
					| Digital Strategists and User Experience Designers work together to define projects able to engage and be useful to the People, and that are connecting more and more stronger with the Brand they love.
			.col-xs-12.col-sm-6
				h2 Retail store
				p
					| Digital Strategists and User Experience Designers work together to define projects able to engage and be useful to the People, and that are connecting more and more stronger with the Brand they love.