.container-fluid.no-gutter.megastore
	.row
		.copyCenter
			h2.text-center
				| Not store only. WE CAN MAKE MEGASTORE!
				br
			p.text-center
				| We create an enjoyable experience to your buyer 
				strong
					| everywhere
			include ../assets/images/responsive.jade