.container-fluid.services
	include ../assets/images/icons.jade
	.container
		.row
			section
				.col-xs-12
					h2.lead.text-center Services
					p.text-center
						strong
							| E-commerce business know-how
						br
						| Internal management of all processes: goods supplying, photo studio, order processing, customer service, SEO, SEM and web marketing, design and usability.
						br
						| Check out our integrated core services modules.
				.col-sm-15.text-center.icon01
					a.toltip(data-toggle="tooltip" data-trigger="hover" container="body" data-placement="top" title="<ul><li>Storage</li><li>Packaging</li><li>Shipping</li><li>Returns Management</li></ul>")
						.link
							svg.icon
								use(xlink:href="#icon01B")
							h3.text-center
								| Online & offline
								br
								| store management
				.col-sm-15.text-center.icon02
					a.toltip(data-toggle="tooltip" data-placement="top" title="<ul><li>Multilingual Customercare</li><li>Payment Security (GEO Trust)</li></ul>")
						.link
							svg.icon
								use(xlink:href="#icon02")
							h3.text-center
								| Customer care
								br
								| & payment services
				.col-sm-15.text-center.icon03
					a.toltip(data-toggle="tooltip" data-placement="top" title="<ul><li>E-mail Marketing</li><li>SEO</li><li>Social Network</li><li>Google ADV & Web Marketing activities</li></ul>")
						.link
							svg.icon
								use(xlink:href="#icon04")
							h3.text-center
								| Marketing
								br
								| & social media
				.col-sm-15.text-center.icon04
					a.toltip(data-toggle="tooltip" data-placement="top" title="<ul><li>Print – Embroidery - Laser</li><li>Apparel – Accessories - Device covers </li><li>Delivery in 24/48 hours</li><li>Preview online</li></ul>")
						.link
							svg.icon
								use(xlink:href="#icon05")
							h3.text-center
								| Product
								br
								| personalization
				.col-sm-15.text-center.icon05
					a.toltip(data-toggle="tooltip" data-placement="top" title="<ul><li>Styling</li><li>Photoshooting</li><li>Responsive Web Design</li></ul>")
						.link
							svg.icon
								use(xlink:href="#icon03")
							h3.text-center Design &
								br
								| creativity

//-
	FEATURES - E-commerce business know-how
	Internal management of all processes: goods supplying, photo studio, order processing, customer service, SEO, SEM and web marketing, design and usability.

	PRIMA ICONA
	- Storage
	- Packaging
	- Shipping
	- Returns Management

	SECONDA ICONA
	- Multilingual Customercare
	- Payment Security (GEO Trust)
	- Google ADV & Web Marketing activities

	3° ICONA
	- E-mail Marketing
	- SEO
	- Social Network

	4° ICONA – PRODUCT PERSONALIZATION
	- Print – Embroidery - Laser
	- Apparel – Accessories - Device covers
	- Delivery in 24/48 hours
	- Preview online
	- Responsive Web Design

	5°ICONA
	- Styling
	- Photoshooting