.container-fluid.services
	include ../assets/images/icons.jade
	.container
		.row
			section
				.col-xs-12
					h2.lead.text-center I nostri servizi
					p.text-center
						| We manage all aspects of your e-commerce activities, enhancing your brand communication and focusing on your commercial needs.
						br
						| Check out our integrated core services modules.
				.col-sm-15.text-center.icon01
					a(data-toggle="tooltip" data-placement="top" title="<ul><li>Storage</li><li>Order procesiong</li><li>Returns management</li></ul>")
						.link
							svg.icon
								use(xlink:href="#icon01B")
							h3.text-center
								| Online & offline
								br
								| store management
				.col-sm-15.text-center.icon02
					a(data-toggle="tooltip" data-placement="top" title="<ul><li>Call center</li><li>Chat messaging</li><li>Help desk</li></ul>")
						.link
							svg.icon
								use(xlink:href="#icon02")
							h3.text-center
								| Customer care
								br
								| & payment services
				.col-sm-15.text-center.icon03
					a(data-toggle="tooltip" data-placement="top" title="<ul><li>Email Marketing</li><li>Social network</li><li>SEO</li></ul>")
						.link
							svg.icon
								use(xlink:href="#icon04")
							h3.text-center
								| Marketing
								br
								| & social media
				.col-sm-15.text-center.icon04
					a(data-toggle="tooltip" data-placement="top" title="<ul><li>Name & number</li><li>Device cover</li><li>T-shirt</li></ul>")
						.link
							svg.icon
								use(xlink:href="#icon05")
							h3.text-center
								| Personalizazzioni
								br
								| prodoti
				.col-sm-15.text-center.icon05
					a(data-toggle="tooltip" data-placement="top" title="<ul><li>Landing page</li><li>Newsletter</li><li>Google campaign</li></ul>")
						.link
							svg.icon
								use(xlink:href="#icon03")
							h3.text-center Design & creativity