.container-fluid.no-gutter
	.row.workInProgress.juve
		.row-same-height
			.col-xs-12.col-sm-6.col-sm-height.col-middle.text-left
				img.img-responsive.pull-left(src="#{pathToAssets}/images/workInProgress_large_left.png")
			.col-xs-12.col-sm-6.col-sm-height.col-middle.text-center
				h2
					| JUVENTUS Store
				hr
				small
					| Don't follow the crowd, become an Outsider....
				hr
				p
					| Outsiders Apparel is a clothing brand for the outdoor explorer and urban dweller.
					br
					|Established 2012 in the city of Edinburgh, Scotland. We plan on bringing a fresh new clean cut image to the street.
				br
				br
				a.btn.btn-lg.btn-ghost-Juve
						| VIEW PROJECT

	.row.workInProgress.acMilan
		.row-same-height
			.col-xs-12.col-sm-6.col-sm-height.col-middle.text-center
				h2
					| AC MILAN Store
				hr
				small
					| We create digital products that make people's lives easier
				hr
				p Minimalism Project : Make things as simple as possible but not simpler by Noel Shiveley (letterer) & Alex Mcdonell
				br
				br
				a.btn.btn-lg.btn-ghost-Milan
						| VIEW PROJECT
			.col-xs-12.col-sm-6.col-sm-height.col-middle.text-right
				img.img-responsive.pull-right(src="#{pathToAssets}/images/workInProgress_large.png")